<div class="parent">
    <div class="child">
        <form [formGroup]="studentForm">
            <h2>Create Student Form</h2>

            <label for>Name:</label>
            <input type="text" name id formControlName="name">

            <label for>Gender:</label>
            <label for>Male</label>
            <input type="radio" name="rrr" id formControlName="gender"
                value="male">
            <label for>Female</label>
            <input type="radio" name="rrr" id formControlName="gender"
                value="female">

            <label for>Mobile:</label>
            <input type="text" name id formControlName="mobile">

            <label for>Email:</label>
            <input type="text" name id formControlName="email">

            <label for>Batch:</label>
            <input type="text" name id formControlName="batch">

            <div formGroupName="address">
                <label for>Address:</label>
                <br>
                <label for>City:</label>
                <input type="text" name id formControlName="city">
                <br>

                <label for>mandal:</label>
                <input type="text" name id formControlName="mandal">
                <br>

                <label for>district:</label>
                <input type="text" name id formControlName="district">
                <br>

                <label for>State:</label>
                <input type="text" name id formControlName="state">
                <br>

                <label for>Pincode:</label>
                <input type="text" name id formControlName="pincode">
                <br>

            </div>

            <button (click)="addeducation()">Add Education</button>

            <div formArrayName="education">
                <div *ngFor="let educations of educationFormArray.controls ; let i=index">
                    <div formGroupName="{{i}}">
                        <br>
                        <h3>Education Details : {{i+1}}</h3>
                        <label for="">Qualification</label>
                        <input type="text" name="" id="" formControlName="qualification">

                        <label for="">Year</label>
                        <input type="text" name="" id="" formControlName="year">

                        <label for="">Percentage</label>
                        <input type="text" name="" id="" formControlName="percentage">
                        <br>
                        <button (click)="delete(i)">Delete</button>
                    </div>
                </div>
            </div>
            <br>

            <button (click)="create()">Create</button>
        </form>

    </div>
</div>
