
<label for="">Limit</label>
<input type="number" [(ngModel)]="asdf">

<label for="">Page</label>
<input type="number" [(ngModel)]="zxcv">


<button (click)="limit()">Limit</button>
<br>
<br>
<label for="">Column</label>
<select name="" id="" [(ngModel)]="column">
<option value="name">name</option>
<option value="gender">gender</option>
<option value="mobile">mobile</option>
<option value="">batch</option>
<option value="district">district</option>
<option value="state">state</option>

</select>

<label for="">Order</label>
<select name="" id="" [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descnding</option>
</select>

<button (click)="sort()">Sort</button>

<br>
<br>
<input type="text" [(ngModel)]="search" (keyup)="filter()">

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Batch</th>
            <th>District </th>
            <th>State</th>
            <th>Company Name</th>
            <th>Package</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students;let i=index">
            <td>{{student.id || 'N/A'}}</td>
            <td>{{student.name || 'N/A'}}</td>
            <td>{{student.gender || 'N/A'}}</td>
            <td>{{student.mobile || 'N/A'}}</td>
            <td>{{student.batch || 'N/A'}}</td>
            <td>{{student.address?.district || 'N/A'}}</td>
            <td>{{student.address?.state || 'N/A'}}</td>
            <td>{{student.company?.name || 'N/A'}}</td>
            <td>{{student.company?.package || 'N/A'}}</td>
            <td>
                <button (click)="view(student.id)">View</button>
                <br>
                <br>
                <!-- <button (click)="delete(student.id)">Delete</button>
                 
                <button (click)="edit(student.id)">Edit</button> -->
            </td>
        </tr>
    </tbody>
</table>
